################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LeetCodeMaxPointsOnALine/bin/Debug/netcoreapp3.1
/LeetCodeMaxPointsOnALine/obj/Debug/netcoreapp3.1
/LeetCodeMaxPointsOnALine/obj
/.vs/LeetCodeMaxPointsOnALine/DesignTimeBuild
/.vs/LeetCodeMaxPointsOnALine/v16
/.vs
